h1{
    margin-bottom: 50px;
}

img{
    width: 400px;
    height: 500px;
}

.picture{
    float: right;
}

.content{
    float: left;
    width: 50%;
    border: solid 1px black;
    padding: 20px;
}

p{
    font-size: 20px;
}

body{
    margin-left:20px ;
    margin-right: 20px;
}